output: {{routerState}}
<!-- <div [@routeAnimations]="outlet.isActivated && outlet.activatedRoute.routeConfig.path"> -->
<a routerLink='/lazy'>lazy-loaded-feature</a><br>

<a routerLink='query-example'>query example</a><br>
<a routerLink='router-example'>router example</a><br>
<a routerLink='router-example/1'>router example</a><br>
<a routerLink='router-example/2'>router example</a><br>
<a routerLink='router-example/3'>router example</a><br>

<div>
  <button (click)='next()'>next</button><br>
  <button (click)='prev()'>prev</button>
</div>

<div class="content">
  <router-outlet #yourOutlet="outlet"></router-outlet>
</div>

<div class="manua-trigger-stream" [@leftRight]="moveSignalObservable | async">
  I will be changed by the poweer of a stream
</div>

<app-page1></app-page1>
<app-dynamicstuff></app-dynamicstuff>

<not-existing>not existing</not-existing>
