<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque molestiae necessitatibus dicta! Iure fugiat accusamus ut! Ducimus quam officiis harum ratione molestias nemo ut vel alias, maiores odit voluptates dignissimos!
</p>
<div class="panels" [@showBoxesOnLoad]="showBoxes">
  <div class="panel">
    <h1>Headline 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos ut sit numquam veritatis sapiente error, quas soluta? Illum sequi dolorem cumque incidunt illo deleniti magnam porro consequuntur vero sint!</p>
    <button>press me</button>
  </div>

  <div class="panel">
    <h1>Headline 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos ut sit numquam veritatis sapiente error, quas soluta? Illum sequi dolorem cumque incidunt illo deleniti magnam porro consequuntur vero sint!</p>
    <button>press me</button>
  </div>

  <div class="panel">
    <h1>Headline 3</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dignissimos ut sit numquam veritatis sapiente error, quas soluta? Illum sequi dolorem cumque incidunt illo deleniti magnam porro consequuntur vero sint!</p>
    <button>press me</button>
  </div>

  <div class="panel">
    <h1>Headline 1</h1>
    <p>Lorem ipsum dolotatis sapiente error, quas soluta? Illum sequi dolorem cumque incidunt illo deleniti magnam porro consequuntur vero sint!</p>
    <button>press me</button>
  </div>

  <div class="panel">
    <h1>Headline 2</h1>
    <p>Lorem ipsum illo deleniti magnam porro consequuntur vero sint!</p>
    <button>press me</button>
  </div>

  <div class="panel">
    <h1>Headline 3</h1>
    <p>Lorem ipsum dolor sit amet, consem porro consequuntur vero sint!</p>
    <button>press me</button>
  </div>
</div>